@using WebApplication1.Code
@using WebApplication1.Helper
@using WebApplication1.Models.Modal
@model List<HomeViewModel>
@{
    ViewData["Title"] = "Home";
}

<br />
<div class="row row">
    <div class="col-md-12">
        <form asp-action="Index" role="form">
            <div class="form-group">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input placeholder="search name..." autocomplete="off" value="" type="text" class="form-control" name="value">
                </div>

            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <table class="" style="width: 100%;">
            <caption class="text-center">
                <h1>Lorem Ipsum</h1>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>

            @foreach (var m in Model)
            {
            <tr>
                <td>@m.Code</td>
                <td>
                    <strong class="product-title">@m.Name</strong>
                    <span class="text-offset">@m.Desc.Wrap(20)</span>
                </td>
                <td class="item-price">@m.UnitPrice.ToRupiah()</td>
                <td>
                    <a id="detailProductModal" data-toggle="modal" asp-action="Detail" asp-route-code="@m.Code" data-target="#modal-action-detail">Detail</a>
                </td>
                <td><a id="addToCart" asp-controller="Home" asp-action="Add" asp-route-code="@m.Code">Add</a></td>
            </tr>
            }
        </table>

    </div>
</div>

@await Html.PartialAsync("_Modal", new BootstrapViewModel { ID = "modal-action-detail",ModalContentId = "modal-content-detail", AreaLabeledId = "modal-action-detail-label", Size = ModalSize.Large })
@await Html.PartialAsync("_Loader")


@section Scripts
{
    <script src="~/js/index-modal.js" asp-append-version="true"></script>
    <script>
        $("table tbody tr #addToCart").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    //waitingDialog.show();
                }
            }).fail(function (data) {
                alert(data);
            }).done(function (data) {
                //waitingDialog.hide();
                if (data.success) {
                    swal("Success", data.responseText, "success").then(function (isConfirm) {
                        if (isConfirm) {

                        }
                    });

                } else {
                    swal("Error", data.responseText, "error").then(function (isConfirm) {
                        if (isConfirm) {

                        }
                    });
                }
            });

        });

    </script>
}
